<div *ngIf="!code_accepted">
	<b style="color:red;">
	Note: If the submissions table is not visible, you must obtain the access code and append it to the URL.
	</b>
	<br>
	The URL should appear as:
	<code>{{base_url}}/submissions/something</code>
	where <code>something</code> is provided by the administrator.
</div>
<div *ngIf="code_accepted">
	<b style="color:red;">
	Note: you must re-enter the access code into the URL of this page every time you refresh the page.
	</b>
	<br>
	(<code>{{base_url}}/submissions/something</code>
	where <code>something</code> is provided by the administrator.)
</div>
<h4>Student Submissions:
<a *ngIf="code_accepted" target="_self" href="/api/submissions_csv/{{code}}" download="students.csv"><button class="btn btn-primary btn-sm">DOWNLOAD AS CSV</button></a>
</h4>
<div *ngIf="code_accepted" style="overflow-x:auto;">
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>School</th>
			<th>Religious School</th>
			<th>DOB</th>
			<th>Approximate BM Date</th>
			<th>Venue Preferences</th>
			<th>Services at Venue?</th>
			<th># Guests</th>
			<th>Dates Unavailable</th>
			<th>Additional Accommodation</th>
		</tr>
		<tr *ngFor="let submission of submissions">
			<td>
				{{submission['childName']}}
			</td>
			<td>
				{{submission['email']}}
			</td>
			<td>
				{{submission['school']}} (id {{submission['schoolId']}})
			</td>
			<td>
				{{submission['hebSchool']}} (id {{submission['hebSchoolId']}})
			</td>
			<td>
				{{submission['DOB'] | date}} ({{submission['DOBdd'].hdate_str}}/{{submission['DOBdd'].hdate_str_heb}})
			</td>
			<td>
				{{submission['BMdd'].hgregorian | date}} ({{submission['BMdd'].hdate_str}}/{{submission['BMdd'].hdate_str_heb}})
			</td>
			<td>
					<div *ngFor="let ranking of submission['rankings'];let last = last;">
						{{ranking['name']}} : {{ranking['value']}}
						<br *ngIf="!last">
					</div>
			</td>
			<td>
				{{submission['atVenue'] ? "Yes" : "No"}}
			</td>
			<td>
				{{submission['over200'] ? "over 200" : "under 200"}}
			</td>
			<td>
					<div *ngFor="let nd of submission['nonDates']; let last=last;">
						{{nd.hgregorian | date}} ({{nd.hdate_str}}/{{nd.hdate_str_heb}})
						<br *ngIf="!last">
					</div>
			</td>
			<td>
				{{submission['accommodation_other']}}
			</td>
		</tr>
	</table>
</div>
