<p>Simple datepicker</p>
<!-- outsideDays="hidden" firstDayOfWeek="0" -->
<ngb-datepicker #dp [(ngModel)]="model" outsideDays="hidden" (navigate)="date = $event.next" [markDisabled]="isDisabled"></ngb-datepicker>

<hr/>

<button class="btn btn-sm btn-outline-primary" (click)="selectThisWeek()">Select This Saturday</button>
<button class="btn btn-sm btn-outline-primary" (click)="selectToday()">Select Today</button>
<button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo()">To current month</button>
<button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>

<hr/>

<pre>Month: {{ date.month }}.{{ date.year }}</pre>
<pre>Model: {{ model | json }}</pre>
