<div class="container" style="width:50%">
	<div class="row">
		<div class="col">
			Main Sanctuary
		</div>
		<div class="col">
			<div class="btn-group btn-group-toggle" ngbRadioGroup name="venue1" [(ngModel)]="model1">
				<label ngbButtonLabel class="btn-primary">
					<input ngbButton type="radio" [value]="1"> Preferred
				</label>
				<label ngbButtonLabel class="btn-primary">
					<input ngbButton type="radio" [value]="0"> No preference
				</label>
				<label ngbButtonLabel class="btn-primary">
					<input ngbButton type="radio" [value]="-1"> Would not like this venue
				</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			Family Minyan
		</div>
		<div class="col">
			<div class="btn-group btn-group-toggle" ngbRadioGroup name="venue2" [(ngModel)] = "model2">
				<label ngbButtonLabel class="btn-primary">
					<input ngbButton type="radio" [value]="1"> Preferred
				</label>
				<label ngbButtonLabel class="btn-primary">
					<input ngbButton type="radio" [value]="0"> No preference
				</label>
				<label ngbButtonLabel class="btn-primary">
					<input ngbButton type="radio" [value]="-1"> Would not like this venue
				</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			Torah in the Round
		</div>
		<div class="col">
			<div class="btn-group btn-group-toggle" ngbRadioGroup name="venue3" [(ngModel)]="model3">
				<label ngbButtonLabel class="btn-primary">
					<input ngbButton type="radio" [value]="1"> Preferred
				</label>
				<label ngbButtonLabel class="btn-primary">
					<input ngbButton type="radio" [value]="0"> No preference
				</label>
				<label ngbButtonLabel class="btn-primary">
					<input ngbButton type="radio" [value]="-1"> Would not like this venue
				</label>
			</div>
		</div>
	</div>
</div>
