<!-- <h3>Schools</h3>
<div class="grid grid-pad">
	<a *ngFor="let school of schools" class="col-1-4">
		<div class="module school">
			<h4>{{school.name}}</h4>
			<ul><li>{{school.id}}</li></ul>
		</div>
	</a>
</div>
-->
<h3>Student Information</h3>
<p>Please fill in the information below to help Sinai Temple plan and schedule your child's B'nai Mitzvah
	Forms submitted by March 15 th 2018 will be given first preference in terms of dates and venue selection.
For assistance submitting this information, please contact [CONTACT EMAIL FOR PLANNING]</p>
<br>
<br>
<div style="margin:50px;padding:50px;">
<div class="form-group">
	<label for="name">Email Address</label>
	<input type="text" class="form-control" id="email" required>
</div>
<br>
<div class="form-group">
	<label for="name">Child's Name</label>
	<input type="text" class="form-control" id="name" required>
</div>
<br>
<div class="form-group">
	<label for="name">Child's Name</label>
	<input type="text" class="form-control" id="name" required>
</div>

<div style="margin:15px;padding:15px;" class="form-group">
	<app-datepicker></app-datepicker>
</div>

</div>


