<div class="form-component">
	<br>
	<button class="btn btn-secondary btn-lg" style="margin-left:5em" (click)="move(-1)" [disabled]="step===0 || invalidform()">BACK</button>
	<button class="btn btn-secondary btn-lg" style="margin-left:2em" (click)="move(1)" [disabled]="step===3 || invalidform()">NEXT</button>
	<br>
	<br>
	<app-form-student #studentform [hidden]="step!==0"></app-form-student>
	<app-form-venue #venueform [hidden]="step!==1"></app-form-venue>
	<app-form-date #dateform [hidden]="step!==2"></app-form-date>
	<app-form-accommodation #accommodationform [hidden]="step!==3"></app-form-accommodation>
	<br>
	<br>
	<button class="btn btn-secondary btn-lg" style="margin-left:5em" (click)="move(-1)" [disabled]="step===0 || invalidform()">BACK</button>
	<button class="btn btn-secondary btn-lg" style="margin-left:2em" (click)="move(1)" [disabled]="step===3 || invalidform()">NEXT</button>
	<br>
	<br>
	<p><ngb-progressbar type="success" [value]="step*25"></ngb-progressbar></p>
	<br>
	<br>

	<pre>formService.entry: {{formService.entry | json}}</pre>
</div>
