<h4>Thank you for submitting this information!</h4>
<br>
You entered the following information:
<div *ngIf="formService.entry">
	<ul>
		<li *ngFor="let key of Object.keys(formService.entry)">
			<div *ngIf="key!='rankings'">
				{{key}} : {{formService.entry[key]}}
			</div>
			<div *ngIf="key=='rankings'">
				Preferences:
				<ul>
					<li *ngFor="let ranking of formService.entry['rankings']">
						{{ranking['name']}} : {{ranking['value']}}
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>
<app-not-found></app-not-found>
