<h3>Additional Information</h3>

Is your child a twin who will be sharing the service with their sibling?
<br>
<div class="btn-group btn-group-toggle" ngbRadioGroup name="twin" [(ngModel)]="twin">
		<label ngbButtonLabel class="btn-primary">
			<input ngbButton type="radio" [value]="true"> Yes
		</label>
		<label ngbButtonLabel class="btn-primary">
			<input ngbButton type="radio" [value]="false"> No
		</label>
</div>
<br>

What special accommodations will your child need for their service?
<br>
<div class="btn-group btn-group-toggle" ngbRadioGroup name="accommodation" [(ngModel)]="accommodation">
		<label ngbButtonLabel class="btn-primary">
			<input ngbButton type="radio" [value]="false"> None
		</label>
		<label ngbButtonLabel class="btn-primary">
			<input ngbButton type="radio" [value]="true"> Other
		</label>
</div>


<div *ngIf="accommodation">
	<div class="form-group">
		<label for="accommodation">Additional accommodation needed</label>
		<input type="text" [(ngModel)]="accommodation_other" class="form-control">
	</div>
</div>
